doctype html
html
  head
    title Putt Practice App
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      nav
        a(href='/') Inicio
        a(href='/discs') Discos
        a(href='/routines') Rutinas
        a(href='/stats') Estadísticas
    .container
      block content
